@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: Yekan;
    font-weight: 100;
    src: url('../fonts/woff/YekanBakhFaNum-Thin.woff') format('woff'),
      url('../fonts/woff2/YekanBakhFaNum-Thin.woff2') format('woff2')
  }
  @font-face {
    font-family: Yekan;
    font-weight: 300;
    src: url('../fonts/woff/YekanBakhFaNum-Light.woff') format('woff'),
      url('../fonts/woff2/YekanBakhFaNum-Light.woff2') format('woff2');	
  }
  @font-face {
    font-family: Yekan;
    font-weight: normal;
    src: url('../fonts/woff/YekanBakhFaNum-Regular.woff') format('woff'),
      url('../fonts/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');	
  }
  @font-face {
    font-family: Yekan;
    font-weight: 600;
    src: url('../fonts/woff/YekanBakhFaNum-SemiBold.woff') format('woff'),
      url('../fonts/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2');	
  }
  @font-face {
    font-family: Yekan;
    font-weight: bold;
    src: url('../fonts/woff/YekanBakhFaNum-Bold.woff') format('woff'),
      url('../fonts/woff2/YekanBakhFaNum-Bold.woff2') format('woff2');	
  }
  @font-face {
    font-family: Yekan;
    font-weight: 800;
    src: url('../fonts/woff/YekanBakhFaNum-ExtraBold.woff') format('woff'),
      url('../fonts/woff2/YekanBakhFaNum-ExtraBold.woff2') format('woff2');	
  }
  @font-face {
    font-family: Yekan;
    font-weight: 900;
    src: url('../fonts/woff/YekanBakhFaNum-Black.woff') format('woff'),
      url('../fonts/woff2/YekanBakhFaNum-Black.woff2') format('woff2');	
  }
  @font-face {
    font-family: Yekan;
    font-weight: 950;
    src: url('../fonts/woff/YekanBakhFaNum-ExtraBlack.woff') format('woff'),
      url('../fonts/woff2/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');	
  }


  @font-face {
    font-family: Hodhod;
    font-weight: bold;
    src: url('../fonts/woff/Hodhod-Circle-Dots.woff') format('woff'),
      url('../fonts/woff2/Hodhod-Circle-Dots.woff2') format('woff2')
  }
}

body {
  background-color: #fcfcfc;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.nuxt-icon svg {
  width: unset !important;
  height: unset !important;
  margin-bottom: unset !important;
  vertical-align: unset !important
}
.apexcharts-text tspan,
.apexcharts-legend-text,
.apexcharts-tooltip-title,
.apexcharts-tooltip-text{
  @apply font-yekan !important
}
.ltr {
  direction: ltr;
}

.swiper {
  overflow: unset !important;
  overflow-x: clip !important;
}

.swiper-slide {
  cursor: grab
}

.player #slider {
  display: flex
}


@layer components {
  .paragraph {
    @apply text-paragraph text-base leading-paragraph text-justify;
  }
  .btn {
    @apply flex items-center gap-[10px] rounded-default py-3 px-5 text-base font-semibold
  }
}